*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;   
}
body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-direction: column;
        gap: 30px;
        background: #1d2833;
}
h1 {
        color: rgba(255, 255, 255, 0.25);
        padding: 15px 15px;
        margin: 10px;
}
h1:hover {
        color: #00dfc4;
}
.gender, .lang {
        padding: 10px;
        pointer-events: none;
        font-size: 1.5em;
        font-weight: 600;
        color: rgba(255, 250, 255, 0.35);
        text-transform: uppercase;
        transition: 0.5s;
}


/* // input // */
.input-box option, select {
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background: #1d2b3a;
        border-radius: 5px;
        outline: none;
        color: #fff;
        font-size: 1em;
        transition: 0.5s;
}
.radio  {
        display: inline-flex;
        overflow: hidden;
        border-radius: 15px;
        margin: 10px 10px;
        box-shadow: 0 0 5px #00dfc4;
}
.radio__input:checked {
        display: none;
        
}
.radio__lable {
        padding: 8px 10px;
        font-size: 1em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.25);
        cursor: pointer;
        transition: 0.3s;
}
.radio__input:checked + .radio__lable  {
        background: #00dfc4;
        color: #fff;
}


.input-box{
        position: relative;
        width: 500px;
}
.input-box input {
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background: #1d2b3a;
        border-radius: 5px;
        outline: none;
        color: #fff;
        font-size: 1em;
        transition: 0.5s;
}
.input-box span {
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1em;
        color: rgba(255, 255, 255, 0.25);
        text-transform: uppercase;
        transition: 0.5s;
}
.input-box input:valid ~ span,
.input-box input:focus ~ span {
        color: #00dfc4;
        transform: translateX(10px) translateY(-7px);
        font-size: 0.65em;
        padding: 0 10px;
        background: #1d2b3a;
        border-left: 1px solid #00dfc4;
        border-right: 1px solid #00dfc4;
        letter-spacing: 0.2em;
}

.input-box input:valid ,
.input-box input:focus {
        border: 1px solid #00dfc4;
}
.input-box textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.25);
        background: #1d2b3a;
        border-radius: 5px;
        outline: none;
        color: #fff;
        font-size: 1em;
        transition: 0.5s;
}

.input-box textarea span {
        position: absolute;
        left: 0;
        padding: 10px;
        pointer-events: none;
        font-size: 1em;
        color: rgba(255, 255, 255, 0.25);
        text-transform: uppercase;
        transition: 0.5s;
}
.input-box textarea:valid ~ span,
.input-box textarea:focus ~ span {
        color: #00dfc4;
        transform: translateX(10px) translateY(-7px);
        font-size: 0.65em;
        padding: 0 10px;
        background: #1d2b3a;
        border-left: 1px solid #00dfc4;
        border-right: 1px solid #00dfc4;
        letter-spacing: 0.2em;
}
.input-box textarea:valid ,
.input-box textarea:focus {
        border: 1px solid #00dfc4;
}


.check {
        width: 500px;
        margin: 10px auto;
        position: relative;
        left: 0px;
        clear: both;
        display: block;
        background-color: #1d2b3a;
        border-radius: 4px;
    }
    .check::after {
        clear: both;
        display: block;
        content: "";
    }
    .check .checkbox-container {
        float: left;
        width: 50%;
        box-sizing: border-box;
        text-align:center;
        padding: 10px 0px;
    }
    
    
    .lable__checkbox {
        color: #19f6e8;
        display: block;
        position: relative;
        margin: auto;
        cursor: pointer;
        font-size: 1em;
        line-height: 24px;
        height: 50px;
        width: 24px;
        clear: both;
    }
     input[type="checkbox"] {
        position: relative;
        left: 50px;
        top: 20px;
        
    }
    
   /* // styling submit button // */
.svg-wrapper {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        width: 320px;  
        position: relative;
        top: 100px;
      }
      .shape {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
        fill: transparent;
        stroke: #19f6e8;
        border-bottom: 5px solid black;
        transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
      }
      .text button {
        font-family: 'Roboto Condensed';
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 8px;
        color: #fff;
        background: #1d2b3a;
        border: none;
        top: -48px;
        left: 100px;
        position: relative;
        text-align: center;
      }
      .svg-wrapper:hover .shape {
        stroke-width: 2px;
        stroke-dashoffset: 0;
        stroke-dasharray: 760;
      }

  /* // validation check // */




